* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: #ffffff;
	background-color: #00004d;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
}

p {
	font-size: 1rem;
	padding: 1rem 0;
}

button {
	padding: .3rem .5rem;
}

input {
	padding: .5rem;
}

.container {
	grid-column: 2/3;
	display: grid;
	grid-template-rows: repeat(3, auto);
}